# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Project-specific
traffic_cumulative.csv
network_analyzer.log
*.pcap
*.csv
!Train_data.csv
!Test_data.csv
ml_traffic_simulator.py